name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: avantibootcamp.azurecr.io
          username: ${{ secrets.AZURE_ACR_USERNAME }}
          password: ${{ secrets.AZURE_ACR_PASSWORD }}


      - name: Build and push backend
        run: |
          docker build -t avantibootcamp.azurecr.io/coin-manager-backend ./back-end
          docker push avantibootcamp.azurecr.io/coin-manager-backend

      - name: Build and push frontend (nginx)
        run: |
          docker build -t avantibootcamp.azurecr.io/coin-manager-frontend ./nginx
          docker push avantibootcamp.azurecr.io/coin-manager-frontend

      - name: Debug SSH Variables
        run: |
          if [ -z "${{ secrets.AZURE_VM_IP }}" ]; then echo "AZURE_VM_IP está vazio!"; else echo "AZURE_VM_IP definido."; fi
          if [ -z "${{ secrets.AZURE_VM_USER }}" ]; then echo "AZURE_VM_USER está vazio!"; else echo "AZURE_VM_USER definido."; fi
          if [ -z "${{ secrets.AZURE_VM_SSH_KEY }}" ]; then echo "AZURE_VM_SSH_KEY está vazio!"; else echo "AZURE_VM_SSH_KEY definido."; fi
        
 
      - name: Deploy to Azure VM via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 20.120.242.63
          username: superuser
          key: ${{ secrets.AZURE_VM_SSH_KEY }}
          port: 22
          script: |
            docker --version
            docker-compose --version
            docker pull avantibootcamp.azurecr.io/coin-manager-backend
            docker pull avantibootcamp.azurecr.io/coin-manager-frontend
            docker-compose -f /caminho/para/docker-compose.yml up -d
